#
# 
# Copyright (c) 2012-2016 General Electric Company. All rights reserved.
#
# The copyright to the computer software herein is the property of
# General Electric Company. The software may be used and/or copied only
# with the written permission of General Electric Company or in accordance
# with the terms and conditions stipulated in the agreement/contract
# under which the software has been supplied.
#


#
# Predix Machine - 16.2.2
#
# Configuration properties for the Predix Machine StoreForward service
#
# Service_PID = com.ge.dspmicro.storeforward
#


# Usage: 
# 
#       Properties set in this file may use the full property
#       name. For example:
#                  
#             <service_pid>.<property_key>=<property_value>



# Note: 
#
#       Properties in configuration files are subject to a delay
#       as they rely on the config-admin and fileinstall bundles.
#
# Format: 
#       type character followed by a quoted string representation of value. 
#          e.g a boolean -  property=B"true"
#       Lowercase type character implies primitives. Type can be omitted for String.
#       Types:
#           T = String            I = Integer            L = Long
#           F = Float             D = Double             X = Byte
#           S = Short             C = Character          B = Boolean
#
#       Array format is property=<type>["<value1>","<value2>"]. 
#           e.g. array of int - property=i["1", "2", "3"]
#       A backslash may be used to break up the line for clarity.

#
# Add properties here
#

# [Required] A friendly and unique name of the storeforward.
com.ge.dspmicro.storeforward.name="DefaultStoreForward"

# [Optional] A brief description of the storeforward.
com.ge.dspmicro.storeforward.description="Default store forward"

# [Optional] Property key for interval in seconds to wait after forward callback returns failed status.
com.ge.dspmicro.storeforward.forwardInterval=I"10"

# [Optional] Auto generated Database password. Users should not change the password. 
com.ge.dspmicro.storeforward.databasePassword=""
com.ge.dspmicro.storeforward.databasePassword.encrypted="ac0+hurSge5n8Zih1vqn5tv5RWnkErSbUMmKTIZDv0rUWkFU9+p6WG2pdE1BteKCTbYzhoHvF9C2kMTCYM6LLQ\=\="

# [Optional] Whether database encryption is enabled 
com.ge.dspmicro.storeforward.databaseEncryption=B"true"

# [Optional] Database encryption password if databaseEncryption is enabled. By default it is same as auto-generated database password. Users should not change the password.
com.ge.dspmicro.storeforward.encryptionPassword=""
com.ge.dspmicro.storeforward.encryptionPassword.encrypted="aDzZy2Tl2yuJkQbw6DnAXoMmh/bLIO4gxlvJgJ8eHodXcHQZ7drRKT9TTTKz/yRlVdxOo8/BdD9PCj6ZA/duXw\=\="

# [Optional] Whether database compression is enabled.
com.ge.dspmicro.storeforward.databaseCompression=B"true"

#### WARNING #####
# The parameters below this line should be changed only as directed by GE Customer support

#[Optional] When store-forward detects that the database file has grown to this size or beyond, it stops writing more data to the file. 
#The default value is -1, which means the file can grow unlimited.
com.ge.dspmicro.storeforward.dbSizeLimitMB=I"-1"

#[Optional] If this value is specified, it must be less than or equal to the dbSizeLimitMB value. Once the file size grows to dbSizeLimitMB and writes to the database are suspended, writing to the database is resumed only after the file size is detected to be below the dbWriteResumeLimitMB value. 
#The default value is the same as dbSizeLimitMB
com.ge.dspmicro.storeforward.dbWriteResumeLimitMB=I"-1"

#[Optional] This parameter controls how frequently store-forward will check the file size and compact the database if necessary. The default value is 60 seconds.
com.ge.dspmicro.storeforward.compactIntervalSec=I"60"

#[Optional] When store-forward detects that the database file has reached this value, it will attempt to compact the database file
com.ge.dspmicro.storeforward.dbSizeLimitMBCompact=I"1"

#[Optional] This value indicates the percentage of oldest messages to be discarded on every compactIntervalSec cycle when the database is full
com.ge.dspmicro.storeforward.purgeOnFullPercentage=I"0"

#[Optional] Maximum number of times message dispatch is attempted before message is discarded. Default is unlimited
com.ge.dspmicro.storeforward.maxRetryLimit=I"-1"
